@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", Arial, sans-serif;
  font-weight: bold;
  margin: 0 auto;
  width: 1200px;
  border: 1px solid red;
}

h1 {
color: #ffa500;
font-size: 40px;
margin: 50px 50px;
text-align: center;
}

header > img {
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

header{
  min-width: 100%;
}

body > header {
  height: 500px;
  background-size: contain;
  padding-top: 20px;
}

h2   {
  color: #ffa500;
  font-size: 30px;
  margin: 60px;
  text-align: center;

  }

section > p {
  margin: 0 30px 0 30px;
  border: 25px;
  border: 1px solid #ffa500;
  text-align: center;
  margin: 0 100px;

}
#contacts-wrapper{
text-align: center;
margin-bottom: 50px;
}

#contact-form {
  vertical-align: top;
  display: inline-block;
  margin: 0 50px;
}

#contact-us {
  text-align: left;
}

#contact-us > p {
  margin: 0;
  padding: 0;
}

#contacts {
  vertical-align: top;
  display: inline-block;
  margin: 0 50px;
}
footer{
  text-align: center;
  background-color: #ccc;
}

input#name, input#email, textarea#message {
  margin: 20px;
  border: 2px solid #ffa500;
  border-radius: 10px;
  padding: 10px;
  outline: none;
}

input#name:active, input#email:active, textarea#message:active {
  box-shadow: 0 0 30px - 5px darkred;
}

button {
  margin: 10px;
  border: 2px solid #ffa500;
  border-radius: 10px;
  padding: 10px;
}

#contacts > address, p {
  margin: 10px;
  padding: 10px;
}

span {
  text-decoration: underline;
  color: #ffa500;
}
