@import url('https://fonts.googleapis.com/css?family=Lato');
*{
    font-family: Lato,Arial,sans-serif;
}
main{
    margin: 50px 50px auto;
    color: gray;
}
main fieldset legend#personal{
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: orange;
    letter-spacing: 3px;
}
main form div#formRow{
    display: flex;
    justify-content: space-between;

}
main form div#hobbies{
    display: flex;
    justify-content: space-between;
    margin: 0 320px;
}
main form div#formRow div input{
    background-color:  orange;
    padding: 5px;
    border-radius: 10px;
    border: none;
    outline: none;
}