@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
*{
    font-family: Lato,Arial,sans-serif;
}
main{
    margin: 10px  auto;
    color: gray;

}
main form{
    position: relative;
}
main fieldset legend#personal{
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 3px;
    background:linear-gradient(to top,red 0%,orange  100%) ;
    border-radius: 10px;
    padding: 0 10px;
}
main form div#formRow{
    display: flex;
    justify-content: space-between;

}
main form article{
    display: flex;
    justify-content: space-between;
    margin: 0 240px;
}
#formRow div{
    position: relative;
}
main form div#formRow div input{

    padding: 10px 0px 10px 30px;
    border-radius: 10px;
    border: 2px solid orange;
    outline: none;
    width: 180px;
    color: gray;
}

main form div#formRow div input:active{
    box-shadow: 0 0 30px -5px darkred;
}
div#formRow div{
    position: relative;
}
div#formRow div  i{
    position: absolute;
    left: 10px;
    top:63px;
    padding-right: 10px;
}

div#buttons{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
form div#hobbies select {
    border: 2px solid orange;
    padding: 5px;
    border-radius: 10px ;
    outline: none;
    background:linear-gradient(to top,red 0%,orange  100%) ;
    color: black;
}

div#buttons p input{
    border: 2px solid orange;
    padding: 10px 40px;
    border-radius:10px ;
    outline: none;

    background:linear-gradient(to top,red 0%,orange  100%) ;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}
div#buttons p input:hover{

    color: gray;
    background: none;
    cursor: pointer;
}
div#buttons p input:active{
    box-shadow: 0 0 30px -5px darkred;
}
main > a img{

    width: 250px;

}
a img:hover {
    box-shadow: 0 0 30px -5px darkred;

}
main > a{
    display: block;
   text-align: center;
    margin-bottom: 10px;
}
form div#hobbies select:hover{
    cursor: pointer;
}
form div#hobbies select:active{
    box-shadow: 0 0 30px -5px darkred;
}
@media all and (max-width: 1200px){
     main{
         width:100%;
     }
    main form div#formRow{
        flex-wrap: wrap;
        width: 57%;
        margin:0 auto;

    }


}
@media all and (max-width: 880px){

    #buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #buttons p:nth-of-type(2){
        order: 1;
    }
    main form article{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main a img{
        width: 180px;
    }

    main form div#formRow div input {
        margin: 0 auto;
       width: 120px;
    }
   main fieldset{
       min-width: 300px;
   }
}
@media all and (max-width: 610px){
    main form div#formRow div input{
        width: 100%;
    }
    main {
        width: 100%;
    }
    main fieldset legend#personal{
        font-size: 25px;

    }
    main fieldset{
        min-width: 250px;
        padding: 0;
    }
    fieldset legend{
        width: 250px;
    }
    #buttons,select,#gender,#gender{

    }
    main form article{
        margin: 0 auto;
    }
    main #buttons p input[type=submit]{
        width: 200px;
        margin: 0 auto;
    }
    main #buttons p input[type=reset]{
        width: 200px;
        margin: 0 auto;
    }
    main #buttons p input[type=file]{
        width: 115px;
        margin: 0 auto;
    }
    form div#hobbies select{
        width: 200px;

    }
    main form #formRow div{
      margin: 0 auto;

    }
    main form #formRow div{
        text-align: center;
    }
    main a img{
        width: 120px;
    }
}









