@import url('https://fonts.googleapis.com/css?family=Lato');
*{
    font-family: Lato,Arial,sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
html{
    margin-top: 0;
}
body{

    position: relative;
}
body > header {
    background: url("images/Recertified-computer-equipment-1024x413.jpg")no-repeat center center;
    height: 500px;
    background-size: cover;


    /*position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;*/

}
header{
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 10px;
}
nav{
    justify-content: center;
}

 header #navMenu {

    margin-left: auto;
    margin-right: auto;

}
header h1{
    position: relative;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    top:180px;
    color: orange;
    font-size: 2.5em;

}
main fieldset legend{
    background:linear-gradient(to top,red 0%,orange  100%) ;
}
ul#navMenu {
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
}

ul#navMenu,ul.subOne{
    margin-top: 20px;
    list-style-type: none;
    font-size: 16px;
    text-transform: uppercase;
}
#navMenu li{
    position: relative;
    font-weight: bold;
    letter-spacing: 3px;
    width: 200px;
    text-align: center;
    outline: none;

}
#navMenu a{
    padding: 10px 0px;
    text-decoration: none;
    display: block;

    line-height: 25px;
    background:linear-gradient(to top,red 0%,orange  100%) ;
    border: 2px solid orange;
    border-radius: 5px;
    color: white;

}

#navMenu .subOne a{
    margin-top: 3px;
    width: 195px;


}
nav > a img{
      position: absolute;
      top:0;
      left:40px;
      width: 250px;

}
nav > a img:hover{
   box-shadow: 0 0 30px -5px darkred;
}
#navMenu li:active{
    border-radius: 10px;
    box-shadow: 0 0 30px -5px darkred;
}
#navMenu li:hover > a{

}
#navMenu li:hover a:hover {
    background:none;
    color: orange;

}
#navMenu .subOne{

    display: none;
    position: absolute;
    top:30px;
    left: 0;
}

#navMenu li:hover .subOne{
    display: block;
}
#navMenu .subOne li:hover{
    display: block;
}
#navMenu .subOne li:hover .darrow{
    color: #ffffff;
}
.darrow{
    font-size: 170%;
    position: absolute;
    top: 8px;
    right: 3px;
    color: #ffffff;
}
.darrow:hover{
    cursor: pointer;
}
#navMenu li:hover .darrow{
    color: orange;
}

main{
    width: 1200px;
    margin: 0 auto;

    margin-bottom: 0;
}
aside{
    width: 250px;

    float: left;
    height: 507px;
    margin-right: 50px;
    background: url("images/server.jpg")repeat-y;
    background-size: contain;
}
aside h2{
    color: orange;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;

}
aside ul{
    list-style: none;
}
aside ul li{
    padding-bottom: 28px;
    text-align: center;
}
aside ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 1px;
    text-align: center;

}
aside ul li a:hover{
    text-decoration:underline;
}

article video {
    width: 900px;
    margin: 0 auto;

    margin-bottom: 20px;

}
article h2{
    text-transform: uppercase;
    color: orange;
    font-size: 50px;
    text-align: center;

    text-shadow: rgba(0,0,0,0.5) 2px 2px 4px;

}
footer{
    background:linear-gradient(to bottom ,lightgray 0%,darkgray 100%);
    padding: 10px 0;
    text-align: center;
    width: 1200px;
    margin: 0 auto;
    margin-top: 10px;

}
footer p{
    color: #ffffff;
}
footer p span{
    padding-left: 5px;
}
@media all and (max-width: 1200px) {
    nav > a img {
        position: static;
       display: block;
        width: 200px;
        margin: 0 auto;
    }
    body,header,main,article{
        width:100%;
    }
    footer{
        width: 100%;
    }
    aside{
        width: 25%;
    }
    main{
        display: flex;
        margin: 0;
    }
    article video{
       width: 100%;
    }
    ul#navMenu{
        margin-left: 0;
         justify-content: space-around;

    }
    header h1{
        position: relative;
        top:100px;
    }
    article h2{
        font-size: 40px;
    }
}
@media all and (max-width: 780px){
    nav > a img{
        width: 180px;
    }
    main{
        display: block;
    }
    aside{
        width: 100%;

        margin-bottom: 10px;
        margin-right: 0;
    }
    aside h2{
        font-size: 40px;
        letter-spacing: 3px;
        margin-bottom: 15px;
    }
    aside ul li a{
        font-size: 24px;
        letter-spacing: 5px;
    }
}
@media all and (max-width: 620px){
    nav > a img{
        width: 150px;
    }
    ul#navMenu{
        margin-top: 5px;
        display: flex;
        flex-wrap: wrap;

    }
    #navMenu li{
        width: 100%;
        padding-bottom:3px ;

    }
    header h1{
        font-size: 28px;
        color: #ffffff;
        top:125px;
        text-shadow: rgba(0,0,0,0.7) 2px 2px 4px;
    }
    #navMenu li:nth-of-type(2){
        order: 3;
    }
    #navMenu .subOne a{
        width: auto;
    }
    #navMenu .subOne{
        width: 100%;
    }
}


